
.overlayCon {
	position: relative;
	overflow:hidden;
}
.overlay {
	position: absolute;
	background: none;

}

.HXF {
	height: 100%;
}

.scroll {
	overflow: scroll;
}



.antd_menu_item_no_padding{
  padding-left: 0px !important;
}

.antd_menu_item_8px_padding{
  padding-left: 8px !important;
}