*.o
*.opp
*.exe
*.so
*.dll
data
release_export/
obj
InspectionCore/visSele*
*.a
*.jpg
**/.idea
UI/hy/js/jquery-tree
UI/hy/js/jstree
UI/hy/Editor174
node_modules
bundle.js
UI/3DModelSketch
UI/ECJFX
UI/FileWalker
LaserCut
UI/WebUI/wstats.json
.vscode/
UI/WebUI/package-lock.json
.vscode/
*.b#*
*.s#*
PCB/CAMOutputs
visSele
UI/InspectionMonitor/package-lock.json
UI/InspectionMonitor/build/
*.code-workspace
