*.o
*.opp
*.exe
*.so
*.dll
data
obj
visSele*
*.a
*.jpg
licensePlate
sidePrj/websocket/main
UI/hy/js/jquery-tree
UI/hy/js/jstree
UI/hy/Editor174
node_modules
bundle.js
UI/3DModelSketch
UI/hy/newSmapleSetup/.idea
UI/ECJFX
UI/FileWalker
LaserCut
